<div class="tabset__header">
  <div class="tab__control">
    <i class="mdi mdi-bullseye tab__icon"></i>
    <span class="tab__title">Tab Label</span>
    <button class="tab__close"></button>
  </div>

  <div class="tab__control tab__control--unsaved">
    <i class="mdi mdi-bullseye tab__icon"></i>
    <span class="tab__title">Tab Label</span>
    <button class="tab__close"></button>
  </div>

  <div class="tab__control tab__control--active">
    <i class="mdi mdi-bullseye tab__icon"></i>
    <span class="tab__title">Tab Label</span>
    <button class="tab__close">
      <i class="mdi mdi-close"></i>
    </button>
  </div>
</div>

<div class="tabset__container">
  <!--<div class="tab__container">
    Hello world!
  </div>-->
  <tabset-wellcome></tabset-wellcome>
</div>
