<div class="tabset__header">
  <tab-header *ngFor="let tab of tabs; let i = index;"
              [label]="tab.label"
              [active]="currentTab === i"
              [icon]="tab.icon"
              (select)="currentTab = i"
              (close)="closeTab(i);"></tab-header>
</div>

<div class="tabset__container">
  <ng-template ngFor let-tab [ngForOf]="tabs" let-i="index">
    <dynamic-tab [label]="tab.label"
                 [ngClass]="{'hidden': currentTab !== i}"
                 [tabType]="tab.tabType"
                 [classType]="tab.classType"
                 [path]="tab.path"></dynamic-tab>
  </ng-template>
  <tabset-wellcome *ngIf="tabs.length === 0" (open)="makeTab();"></tabset-wellcome>
</div>
