<div class="tabset__header">
  <tab-header label="AppComponent"
              [active]="true"
              icon="target"></tab-header>
  <tab-header label="AppComponent"
              icon="code-braces"></tab-header>
  <tab-header label="AppComponent"
              icon="code-tags"></tab-header>
</div>

<div class="tabset__container">
  <div class="tab__container">
    <blueprint>
    <control-box title="OrderCallComponent"></control-box>
      <control-box title="OnCall" target="clientNumber (string)" type="Function"></control-box>
    </blueprint>
  </div>
  <!--<tabset-wellcome></tabset-wellcome>-->
</div>
