:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.tabset__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

// Single tab header

.tab__control {
  border-right: 1px solid #1E1E1E;
  background-color: #2D2D2D;
  color: #8F8F8F;
  box-sizing: border-box;
  padding: 8px;
  font-size: 9pt;

  &:not(.tab__control--active) {
    .tab__close {
      opacity: 0;
    }
  }

  &:hover {
    background-color: #3D3D3D;

    .tab__close {
      opacity: 1;
    }
  }

  &.tab__control--active {
    color: #fff;
    background-color: #1E1E1E;

    &.tab__close {
      opacity: 1;
    }
  }
}

// tab container
.tabset__container {
  display: flex;
  margin: auto;
  overflow: auto;
  flex: 1;
  flex-direction: column;
  width: 100%;
}


.tab__container {
  display: flex;
  flex: 1;
  background-color: #1E1E1E;
  width: 100%;
}
