body, html {
    margin: 0;
    padding: 0;
    font: 10px 'Lato', 'Segoe UI', 'San Francisco', 'helvetica', sans-serif;
    background: #1e1e1e;
    color: #fff;
}

app, .app {
  display: block;
}

* {
  font-family: 'Lato', 'Segoe UI', 'San Francisco', 'helvetica', sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

button, a {
  cursor: pointer;
  &:focus, &:active {
    outline: 0;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.blueprint {
    background-position: 0 0,0 0,0 0;
    background-color: #00539f;
    background-image: url(./images/blueprint.png);
    background-repeat: repeat,repeat,repeat-x;
    color: white;
}

.full {
    height: 100%;
    width: 100%;
}


.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
