<window-header-menu style="-webkit-app-region: no-drag;">
  <header-menu-item label="File"></header-menu-item>
  <header-menu-item label="Edit"></header-menu-item>
  <header-menu-item label="View"></header-menu-item>
</window-header-menu>

<div class="window__title">Window</div>

<div class="window__controls row">
  <window-control icon="chevron-down" label="Minimize"></window-control>
  <window-control icon="window-restore" label="Resize"></window-control>
  <window-control icon="close" label="Close"></window-control>
</div>
