<window-header-menu style="-webkit-app-region: no-drag;">
  <header-menu-item label="File"></header-menu-item>
  <header-menu-item label="Edit"></header-menu-item>
  <header-menu-item label="View"></header-menu-item>
</window-header-menu>

<div class="window__title">{{fullTitle}}</div>

<div class="window__controls row">
  <window-control icon="chevron-down"
                  label="Minimize"
                  (click)="minimize()"></window-control>

  <window-control *ngIf="!maximized"
                  icon="window-maximize"
                  label="Maximize"
                  (click)="maximize()"></window-control>

  <window-control *ngIf="maximized"
                  icon="window-restore"
                  label="Restore"
                  (click)="restore()"></window-control>

  <window-control icon="close"
                  label="Close"
                  (click)="close()"></window-control>
</div>
