<div class="blueprint">
  <div class="wellcome__header">
    <span class="wellcome__logo">
      blueprint
    </span>
    <div class="wellcome__info row">
      <div class="col-6 text-left">Version 1.0.0</div>
      <div class="col-6 text-right">2017 &copy; Blueprint Inc.</div>
    </div>
  </div>
</div>

<div class="wellcome__menu">
  <dialog-action iconName="file-plus"
                 title="Create a new project"
                 description="Start building a new Angular application"
                 (click)="createProject()"></dialog-action>

  <dialog-action iconName="file-xml"
                 (click)="openProject()"
                 title="Open recent project"
                 description="Continue work on recent opened project"></dialog-action>

  <dialog-action iconName="file-import"
                 title="Import an existing project"
                 description="Start working on existing project"
                 [disabled]="true"></dialog-action>

</div>
