@mixin color($icon-name, $color) {
  .mdi.mdi-#{$icon-name} {
    color: $color;
  }
}

:host {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.file-tree-item__label {
  font-size: 9.75pt;
}

.file-tree-item__icon {
  font-size: 10pt;
}

.mdi {
  color: #767676;
}

.file-tree-item__toggler {
  font-size: 10pt;

  .mdi {
    color: #fff;
  }
}


.file-tree-item__control {
  padding: 3px 10px;
  &:hover {
    background-color: #3b3b3b;
  }

  &.file-tree-item__control--child {
    padding-left: 23px;
  }
}

@include color(language-html5, #f16428);
@include color(language-typescript, #007acc);
@include color(language-javascript, yellow);
@include color(nodejs, green);
@include color(home-assistant, dodgerBlue);
@include color(git, tomato);
@include color(json, yellow);
@include color(layers, #8A2BE2);
@include color(palette, orange);
@include color(test-tube, #7FFF00);
@include color(cube-outline, #00BFFF);
@include color(angular, red);
@include color(file-image, #8A2BE2);


