<div class="file-tree-item__control" [ngClass]="'file-tree-item--child': isChild">
  <span *ngIf="hasSubItems" class="file-tree-item__toggler">
    <i class="mdi" [ngClass]="'mdi-chevron-right': isExpanded, 'mdi-chevron-right': !isExpanded"></i>
  </span>
  <span *ngIf="hasIcon" class="file-tree-item__icon">
    <i [class]="iconClass"></i>
  </span>
  <span class="file-tree-item__label" (click)="itemClick.emit()">
    {{label}}
  </span>
</div>
<div class="file-tree-iten__children">
  <file-tree-item *ngFor="let child in children"
                  [icon]="child.icon"
                  [label]="child.label"
                  [isChild]="true"
                  [children]="child.children"
                  (itemClick)="itemClick.emit(child)">
  </file-tree-item>
</div>
