@mixin color($icon-name, $color) {
  .mdi.mdi-#{$icon-name} {
    color: $color;
  }
}

@keyframes items-slide-up {
  from {
    top: 20px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes items-slide-down {
  from {
    bottom: 20px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

:host {
  display: block;
}

.file-tree-item {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  animation: items-slide-up 0.3s ease-out;

  &.file-tree-item--child {
    animation: items-slide-down 0.3s ease-out;
  }
}

.file-tree-item__label {
  font-size: 9.75pt;
}

.file-tree-item__icon {
  font-size: 10pt;
}

.mdi {
  color: #767676;
}

.file-tree-item__toggler {
  font-size: 10pt;

  .mdi {
    color: #fff;
  }
}


.file-tree-item__control {
  padding: 3px 10px;
  &:hover {
    background-color: #3b3b3b;
  }

  &.file-tree-item__control--child {

  }
}

.file-tree-iten__children {
  margin-left: 23px;
}

@include color(language-html5, #f16428);
@include color(language-typescript, #007acc);
@include color(language-javascript, yellow);
@include color(npm, red);
@include color(home-assistant, dodgerBlue);
@include color(git, tomato);
@include color(json, yellow);
@include color(layers, #8A2BE2);
@include color(palette, orange);
@include color(test-tube, #7FFF00);
@include color(cube-outline, #00BFFF);
@include color(angular, red);
@include color(file-image, #8A2BE2);
@include color(filter, #c51162);
@include color(hexagon, #00b8d4);


