<app-window [label]="windowTitle">
  <div class="workspace">
    <!-- #region Left Navbar -->
    <sidebar class="workspace__aside" position="left" [showFirstTab]="false">
      <sidebar-tab title="Project tree" icon="file-multiple">
        <file-tree [items]="files" (itemClick)="onFileSelect($event)"></file-tree>
      </sidebar-tab>
      <sidebar-tab title="Data sources" icon="database">
        <b>Sources</b>
      </sidebar-tab>
      <sidebar-tab title="Favorites" icon="star">
        <b>Sources</b>
      </sidebar-tab>
      <sidebar-tab title="Source Control" icon="git">
        Commits, changes, etc...
      </sidebar-tab>
      <sidebar-tab title="Tasks" icon="format-list-checks">
      </sidebar-tab>
      <sidebar-button title="Project Settings" icon="settings">
      </sidebar-button>
      <sidebar-button title="Extensions" icon="package-variant">
      </sidebar-button>
    </sidebar>
    <!-- #endregion -->

    <div class="workspace__container">
      <!-- #region workspace -->
      <!--<blueprint>
        <control-box title="OrderCallComponent"></control-box>
        <control-box title="OnCall" target="clientNumber (string)" type="Function"></control-box>
      </blueprint>-->
      <tabset></tabset>
      <!-- #endregion -->

      <!-- #region Bottom Navbar -->
      <sidebar class="workspace__aside"
               position="bottom"
               size="small"
               [showFirstTab]="false"
               [singleOnly]="true">
        <sidebar-tab title="Terminal" icon="code-greater-than">
          <code>user@localhost:~$</code>
        </sidebar-tab>
        <sidebar-tab title="Data sources" icon="share-variant">
          <b>Sources</b>
        </sidebar-tab>
      </sidebar>
      <!-- #endregion -->
    </div>

    <!-- #region Right Navbar -->
    <sidebar class="workspace__aside"
             position="right"
             [showFirstTab]="false">
      <sidebar-tab title="Toolbox" icon="format-list-bulleted-type">
        List of components, services, etc...
      </sidebar-tab>
      <sidebar-tab title="Properties" icon="share-variant">
        <b>Sources</b>
      </sidebar-tab>
      <sidebar-button title="Edit View" icon="code-tags">
      </sidebar-button>
    </sidebar>
    <!-- #endregion -->
  </div>

</app-window>
