<div class="wellcome__menu">
  <dialog-action iconName="file-plus"
                 title="Create a new item"
                 description="CTRL+N"></dialog-action>

  <dialog-action iconName="magnify"
                 title="Search everywhere"
                 (click)="open.emit()"
                 description="CTRL+N"></dialog-action>

  <dialog-action iconName="arrow-right-bold-box"
                 title="Go to file"
                 description="CTRL+SHIFT+N"></dialog-action>

  <dialog-action iconName="history"
                 title="Recent items"
                 description="CTRL+E"
                 [disabled]="true"></dialog-action>

</div>


<ng-content></ng-content>
