@keyframes progress-bar-animation {
  0% {
    left: -2%;
    width: 5%;
  }

  35% {
    width: 25%;
  }

  85% {
    width: 5%;
  }

  100% {
    left: 100%;
    width: 5%;
  }
}

.progress {
  background: #333;
  height: 4px;
  position: relative;
  overflow: hidden;
}

.progress__text {
  text-align: center;
  font-size: 9pt;
  padding: 10px 0;
}

.progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-out 0s;
  background: dodgerblue;
  height: 100%;
}

.progress__bar--indeterminate {
  width: 32%;
  transition: all 0.5s ease-out 0s;
  animation: progress-bar-animation 2.3s infinite;
}
