:host {
  display: block;
  width: 100%;
  display:flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  margin: auto;
}

.sidebar__tab__header {
  display: block;
  background: #3b3b3b;
  color: #ADADAD;
  padding: 8px 10px;
  font-size: 9pt;

  strong {
    text-transform: uppercase;
  }
}

.sidebar__tab__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar__tab__body {
  flex: 1;
  overflow: auto;
}

