<div class="sidebar__tabs">
  <sidebar-button *ngFor="let tab of tabs;"
                  (click)="toggleTab(tab)"
                  [active]="tab.visible"
                  [isSmall]="isSmall"
                  [title]="tab.title"
                  [icon]="tab.icon">
  </sidebar-button>
  <ng-content select="sidebar-button"></ng-content>
</div>
<div class="sidebar__content"
     #container
     mwlResizable
     [ngClass]="{'hidden': visibleTabs === 0, 'sidebar__content--right': isAtRight , 'sidebar__content--bottom': isAtBottom}"
     [resizeEdges]="{bottom: false, right: isAtLeft, top: isAtBottom, left: isAtRight}"
     [enableGhostResize]="true"
     (resizeEnd)="onResize($event)">
  <ng-content select="sidebar-tab"></ng-content>
</div>
