:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  height: 100%;
}

.sidebar__tabs {
  display: inline-block;
  width: auto;
}

.sidebar__tab {
  display: block;
  background: none;
  border: none;
  color: #ADADAD;
  font-size: 16pt;
  padding: 15px;

  &.sidebar__tab--active {
    color: white;
  }

  &:hover {
    background: #555;
    color: white;
  }
}

.sidebar__content {
  margin: auto;
  min-width: 240px;
  flex-grow: 1;
  background: #252525;
  height: 100%;
}
