:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  height: 100%;

  &[position="bottom"] {
    flex-direction: column;
    height: auto;
    width: 100%;

    .sidebar__tabs {
      display: flex;
    }
  }
}

.sidebar__tabs {
  display: inline-block;
  width: auto;
}

.sidebar__tab {
  display: block;
  background: none;
  border: none;
  color: #ADADAD;
  font-size: 16pt;
  padding: 15px;

  &.sidebar__tab--active {
    color: white;
  }

  &:hover {
    background: #555;
    color: white;
  }

  &.sidebar__tab--small {
    font-size: 9.75pt;
    padding: 8px 5px;
  }
}

.sidebar__content {
  margin: auto;
  width: 240px;
  flex-grow: 1;
  background: #252525;
  height: 100%;
  &.sidebar__content--right,
  &.sidebar__content--bottom {
    order: -1;
  }

  &.sidebar__content--bottom {
    width: 100%;
    height: 240px;
  }
}
