<div class="sidebar__tabs">
  <button *ngFor="let tab of tabs;"
          class="sidebar__tab"
          [ngClass]="{'sidebar__tab--active': tab.visible}"
          [title]="tab.title"
          (click)="toggleTab(tab)">
    <i [class]="tab.iconClass"></i>
  </button>
</div>
<div class="sidebar__content"
     #container
     mwlResizable
     [ngClass]="{'hidden': visibleTabs === 0, 'sidebar__content--right': isAtRight , 'sidebar__content--bottom': isAtBottom}"
     [resizeEdges]="{bottom: false, right: isAtLeft, top: isAtBottom, left: isAtRight}"
     [enableGhostResize]="true"
     (resizeEnd)="onResize($event)">
  <ng-content select="sidebar-tab"></ng-content>
</div>
